//extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/budget_elements.js')
    body
        block content

            // Wrapper
            #wrapper

                // BUDGET ELEMENT LIST
                #budgetElementList
                    h2 Your Budget
                    table
                        thead
                            th Name
                            th Amount
                            th Frequency
                            th Update
                            th Delete
                        tbody
                // /BUDGET ELEMENT LIST

                // ADD BUDGET ELEMENT
                #addBudgetElement
                    h2#addBudgetElementHeader Add to your budget
                    fieldset
                        input#inputBudgetElementName(type='text', placeholder="Title")
                        br
                        input#inputAmount(type='text', placeholder='Amount')
                        br
                        input(type="radio", name="frequency", value="Once")
                        | Once
                        input(type="radio", name="frequency", value="Daily")
                        | Daily
                        input(type="radio", name="frequency", value="Weekly")
                        | Weekly
                        input(type="radio", name="frequency", value="Monthly")
                        | Monthly
                        input(type="radio", name="frequency", value="Annually")
                        | Anually
                        br

                        button(id='btnBudgetElementAction', data-action='add') Add To Budget
                        button#btnCancelUpdate.hidden Cancel
                // /ADD BUDGET ELEMENT
            // /WRAPPER


