html
    head
        title=title
    body
        p Hello, #{user.givenName}
        p You are permitted to see the budget
        p Your ID in Mongo is: #{id}
        p Budgets: #{budget_list}
        a(href='/') Go home